<div class="columns">
    <div class="column">
        <h1 class="heading has-text-centered">Posts</h1>
    </div>
</div>

{{#each posts as |post|}}
<div class="homepage columns">
    <div class="column">
        <a href="/post/{{post.id}}">
            <article class="message">
                <div class="message-header">
                    <p>{{dateFormat post.date_created "D MMM YYYY"}}</p>
                    {{!-- <p>Posted by {{post.user.username}} on {{dateFormat post.date_created "M/D/YY"}}</p> --}}
                </div>
                <div class="message-body">
                    <div class="post-info">
                        <div class="post-title">
                            {{post.title}}
                        </div>
                        <div class="post-message">{{post.message}}</div>
                    </div>
                    <div class="message-footer">
                        <button class="button is-primary">Read Full Post</button>
                        <p>By {{post.user.username}}</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
</div>
{{/each}}
<script src="/assets/js/ellipsis.js"></script>