<div class="columns">
    <div class="column">
        <h1 class="has-text-centered">Posts</h1>
    </div>
</div>

<div class="columns">
    {{#each posts as |post|}}
    <div class="column">
        <a href="/post/{{post.id}}">
            <article class="message is-dark">
                <div class="message-header">
                    <p>{{post.title}}</p>
                    <p>Posted by {{post.user.username}} on {{dateFormat post.date_created "M/D/YY"}}</p>
                </div>
                <div class="message-body">{{post.message}}</div>
            </article>
        </a>
    </div>

    {{/each}}
</div>