<div class="columns m-5">
    <div class="column is-1">
        <p>Share</p>
        <i class="fab fa-twitter"></i> <br>
        <i class="fab fa-facebook-f"></i><br>
        <i class="fab fa-linkedin"></i><br>
        <i class="fab fa-instagram"></i>
    </div>
    <div class="column">
                <p>{{title}}</p>
                <p>Posted by {{user.username}} on {{dateFormat date_created "M/D/YY"}}</p>
                {{message}}
    </div>
</div>

<div class="columns m-5">
    <div class="column">
        <p>Comment</p>
        <input id="comment-input" class="input" placeholder="Comment" value="" data-postid="{{id}}">
        <button id="comment-btn" class="button is-primary">Submit</button>
    </div>
</div>

{{#each comments as |comment|}}
<div class="columns m-5">
    <div class="column">
        <p>Name {{comment.user.username}}</p>
        <p>Date {{dateFormat comment.date_created "M/D/YY"}}</p>
        <p>Comment {{comment.comment}}</p>
    </div>
</div>
{{/each}}

<script src="/assets/js/comment.js"