<div class="columns">
    <div class="column">
        <article class="message">
            <div class="message-header">
                <p>{{title}}</p>
                <p>Posted by {{user.username}} on {{dateFormat date_created "M/D/YY"}}</p>
            </div>
            <div class="message-body">{{message}}</div>
        </article>
    </div>
</div>

<div class="columns">
    <div class="column">
        <p>Comment</p>
        <input id="comment-input" class="input" placeholder="Comment" value="" data-postid="{{id}}">
        <button id="comment-btn" class="button is-primary">Submit</button>
    </div>
</div>

{{#each comments as |comment|}}
<div class="columns">
    <div class="column">
        <p>Name {{comment.user.username}}</p>
        <p>Date {{dateFormat comment.date_created "M/D/YY"}}</p>
        <p>Comment {{comment.comment}}</p>
    </div>
</div>
{{/each}}

<script src="/assets/js/comment.js"