<div class="columns m-5">
    <div class="socials column is-1 mr-3">
        <p class="has-text-primary">Share</p>
        <i class="fab fa-twitter"></i> <br>
        <i class="fab fa-facebook-f"></i><br>
        <i class="fab fa-linkedin"></i><br>
        <i class="fab fa-instagram"></i>
    </div>
    <div class="column">
        <p id="post-page-title">{{title}}</p>
        <div id="post-user" class="mb-6">
            <p id="post-page-creds">Posted by</p>
            <img class="profile-img" src="/assets/images/profile.png">
            <p>{{user.username}} on {{dateFormat date_created "M/D/YY"}}</p>
        </div>
        <p id="post-page-msg">{{message}}</p>
    </div>
</div>

<div class="columns m-5">
    <div class="column">
        <p>Comment</p>
        <input id="comment-input" class="input" placeholder="Comment" value="" data-postid="{{id}}">
        <button id="comment-btn" class="button is-primary mt-5">Submit</button>
    </div>
</div>

{{#each comments as |comment|}}
<div class="columns m-5">
    <div class="column">
        <p>Name {{comment.user.username}}</p>
        <p>Date {{dateFormat comment.date_created "M/D/YY"}}</p>
        <p>Comment {{comment.comment}}</p>
    </div>
</div>
{{/each}}

<script src="/assets/js/comment.js"></script>